body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
    

  }


.container{
    background-color: blue;
    height: 70%;
    width: 900px;
    display: inline-block;
    margin-left: 210px;
    
    
}

.while{

    width: 300px;
    height: 320px;
    background-color: #f1f1f1;
    border: 1px solid #b6b6b6;
    margin-top: 50px;
    float: left;
    margin-left: 50px;
  
    
      
}